.btn {
    width: 40%;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 8px;
}

.btn:hover {
    box-shadow: 10px 5px 30px black;
    transition: .3s ease-in-out;
    cursor: pointer;
}